.detailContainer {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 8%;
    border: 1px solid;
    border-radius: 20px;
}

button.btn.btn-outline-primary.btn-lg {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.detailContainer img {
    width: 100%;
}

.detailContainer h3 {
    font-size: 3rem;
    margin-top: 20px;
}

.detailContainer p {
    font-size: 1.5rem;
}